BasedOnStyle: Microsoft
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SortIncludes: false
AlwaysBreakTemplateDeclarations: Yes
